body {
    background-color: #e2ebe2;
}

.Button {
    margin: 5px;
    width: 200px;
    height: 150px;
    /* border: 2px solid black; */
    border-radius: 10px;
    cursor: pointer;
}

.Options {
    display: flex;
    flex-wrap: wrap;
    width: 430px;
    margin: 0 auto;
}

.QuestionTitle {
    text-align: center;
}

.CorrectCounter {
    color: #2cc956;
}
.IncorrectCounter {
    color: #f54251;
}
.Counter {
    text-align: right;
    padding-right: 20px;;
}